.skills {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.skills li {
  margin: 4px 0;
  display: flex;
  justify-content: space-around;
  border: #f76c6c 1px solid;
  border-radius: 4px;
  padding: 2px;
}

.skills .votes {
  /* Center the content */
  align-items: center;
  display: flex;
  justify-content: center;

  /* Colors */
  background-color: rgba(0, 0, 0, 0.3);
  color: #fff;

  /* Rounded border */
  border-radius: 9999px;
  height: 20px;
  width: 20px;
}

.button {
  /* Reset text link default */
  text-decoration: none;

  background-color: #f76c6c;
  color: #fff;
  padding: 0.5em 1em;
  border-radius: 4px;
  display: inline-block;
}
